<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.german.walletapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wallet.Scene2Part2Activity"></activity>
        <activity android:name=".wallet.Scene2Part1Activity" />
        <activity android:name=".wallet.Scene1Activity" />
        <activity android:name=".wallet.Scene1Part3Activity" />
        <activity android:name=".wallet.Scene1Part2Activity" />
        <activity android:name=".wallet.Scene1Part1Activity" />
        <activity android:name=".wallet.WalletActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>